@model FODT.Views.Person.PersonDetailsViewModel

<div class="row">
    <div class="col-sm-3">
        @if (!Model.PhotoLinkURL.IsNullOrWhiteSpace())
        {
            <a href="@Model.PhotoLinkURL">
                <img src="@Model.PhotoThumbnailURL" alt="@Model.FullName" class="img-thumbnail">
            </a>
        }
        else
        {
            <img src="@Model.PhotoThumbnailURL" alt="@Model.FullName">
        }
        <hr />
        <ul class="media-banner">
            @foreach (var item in Model.NewPhotos)
            {
                <li><a href="@item.PhotoLinkURL"><img class="img-thumbnail" src="@item.PhotoTinyURL" alt="@Model.FullName"></a></li>
            }
        </ul>
        <a href="@Model.PhotoListLinkURL">@Model.PhotoCount Photos &raquo;</a>
    </div>
    <div class="col-sm-9">
        <h1>@Model.FullName</h1>
        @*<p>
            Is this you? <a href="#" title="Claim this person so that you can edit so that you can edit the entry.">Claim this Person</a>
            | <a class="js-edit-modal-link" href="@Model.EditLinkURL">Edit Info</a>
        </p>*@
        <hr />
        @if (!Model.Biography.IsNullOrWhiteSpace())
        {
            <p>
                @Html.Raw(MarkdownSharp.Markdown.Default.Transform(Model.Biography))
            </p>
            <hr />
        }

        @Html.RelationTable(Model.AwardsTable, renderAwardsTableColumns)
        @Html.RelationTable(Model.ClubPositionsTable, renderClubPositionsTableColumns)
        @Html.RelationTable(Model.CastRolesTable, renderCastRolesTableColumns)
        @Html.RelationTable(Model.CrewPositionsTable, renderCrewPositionsTableColumns)
    </div>
</div>

@helper renderClubPositionsTableColumns(FODT.Views.Person.ClubPositionViewModel item)
{
    <td>@item.Year</td>
    <td>@item.Name</td>
}

@helper renderAwardsTableColumns(FODT.Views.Awards.AwardViewModel item)
{
    <td><a href="@item.AwardYearLinkURL">@item.Year</a></td>
    <td>
        @item.Name
        @if (!((string)item.ShowLinkURL).IsNullOrWhiteSpace())
        {
            @: for <a href="@item.ShowLinkURL">@item.ShowName</a>
        }
    </td>
}

@helper renderCastRolesTableColumns(FODT.Views.Show.CastRoleViewModel item)
{
    <td>@item.ShowQuarter.ToString() @item.ShowYear</td>
    <td><a href="@item.ShowLinkURL">@item.ShowName</a></td>
    <td>@item.Role</td>
}

@helper renderCrewPositionsTableColumns(FODT.Views.Show.CrewPositionViewModel item)
{
    <td>@item.ShowQuarter.ToString() @item.ShowYear</td>
    <td><a href="@item.ShowLinkURL">@item.ShowName</a></td>
    <td>@item.Name</td>
}

@section endOfBody {
    <script type="text/javascript">
        $(function () {
            $(document).on('click', '.js-edit-modal-link', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $.get(url, function (html) {
                    $(html).modal();
                });
            });
        });
    </script>
}