@model FODT.Views.Shows.DisplayViewModel   
@{
    ViewBag.Title = "Display";
}

<h1>@ExtensionMethods.RearrangeShowTitle(Model.Name) <small>by @Model.Author</small></h1>
<h2>@Model.Quarter @Model.Year</h2>

<h3>Other Performances</h3>
<ul>
@foreach (var show in Model.OtherPerformances)
{
    <li>@Html.ActionLink(show.Item2, MVC.Shows.Display(show.Item1)) (@show.Item3)</li>
}
</ul>

<h3>Awards</h3>
<ul>
@foreach (var award in Model.Awards.OrderByDescending(x => x.Year).ThenBy(x => x.Name))
{
    if(award.PersonId.HasValue)
    {
    <li>@award.Year - @award.Name - @Html.ActionLink(award.PersonName, MVC.People.Display(award.PersonId.Value))
    </li>
    } 
    else
    {
    <li>@award.Year - @award.Name</li>
    }
}
</ul>

<h3>Cast</h3>
<ul>
@foreach (var role in Model.Cast.OrderBy(x => x.PersonName))
{
    <li>@Html.ActionLink(role.PersonName, MVC.People.Display(role.PersonId)) - @role.Role</li>
}
</ul>

<h3>Crew</h3>
<ul>
@foreach (var crewPosition in Model.Crew.OrderBy(x => x.PersonName))
{
    <li>@Html.ActionLink(crewPosition.PersonName, MVC.People.Display(crewPosition.PersonId)) - @crewPosition.Name</li>
}
</ul>