@model FODT.Views.Shows.GetViewModel
<table border="0" align="center" width="100%">
    <tbody>
        <tr align="center">
            <td align="left" valign="top">
                @if (Model.PreviousShowId.HasValue) {
                <a href="@Url.Action(MVC.Shows.Get(Model.PreviousShowId.Value))">&lt;--- Previous Show</a>
                } else {
                    @:&lt;--- Previous Show
                }
            </td>
            <td align="center">
                <center><font size="+4">@ExtensionMethods.RearrangeShowTitle(Model.Title)</font><br><font size="+3">by @Model.Author</font><br><font size="+2"><b>@Model.Quarter @Model.Year</b></font></center>
            </td>
            <td align="right" valign="top">
                @if (Model.NextShowId.HasValue) {
                <a href="@Url.Action(MVC.Shows.Get(Model.NextShowId.Value))">Next Show ---&gt;</a>
                } else {
                    @:Next Show ---&gt;
                }
            </td>
        </tr>
    </tbody>
</table>
<br />
<table align="center" border="0">
    <tbody>
        <tr>
            <td align="center" valign="top" rowspan="3" width="30%">
                @if (Model.MediaItemId != 1){
                <a href="@Url.Action(MVC.Shows.GetShowMedia(Model.ShowId, Model.MediaItemId))">
                    <img src="@Url.Action(MVC.Media.GetItemThumbnail(Model.MediaItemId))" alt="@Model">
                </a>
                } else {
                    <img src="@Url.Action(MVC.Media.GetItemThumbnail(Model.MediaItemId))" alt="@Model">
                }
                <br>
                Click picture to see original size<br>
                <br>
                <a href="@Url.Action(MVC.Shows.ListShowMedia(Model.ShowId))">See all media associated with this show</a>
                <br>
                <br>
                
                @if (!string.IsNullOrWhiteSpace(Model.Pictures)) {
                    <br>
                    <br>
                    @:Click <a href="@Model.Pictures">here</a> for pictures from this production
                    <br>
                    <br>
                }
            </td>
            <td valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        @if (!string.IsNullOrWhiteSpace(Model.FunFacts)) {
                        <tr align="center">
                            <td colspan="3">
                                <b><u>Fun Facts</u></b>
                                <br>
                                <br>
                                @Model.FunFacts
                                <br>
                            </td>
                        </tr>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Toaster)) {
                        <tr align="center">
                            <td colspan="3">
                                <b><u>Where was the Toaster?</u></b>
                                <br>
                                <br>
                                @Model.Toaster
                                <br>
                            </td>
                        </tr>
                        }
                        @if (Model.Awards.Any()) {
                        <tr align="center">
                            <td colspan="3">
                                <br>
                                <b><u>Awards</u></b><br>
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="3">
                                <table>
                                    <tbody>
                                        @foreach (var item in Model.Awards.OrderByDescending(x => x.Year).ThenBy(x => x.Name).ThenBy(x => x.PersonLastName))
                                        {
                                        <tr>
                                            <td align="center"><a href="@Url.Action(MVC.Awards.ByYear(item.Year))">@item.Year</a></td>
                                            <td>&nbsp; - &nbsp; </td>
                                            <td align="center">@item.Name</td>
                                            @if (item.PersonId.HasValue)
                                            {
                                                <td>&nbsp; - &nbsp; </td>
                                                <td align="left"><a href="@Url.Action(MVC.Person.Get(item.PersonId.Value))">@item.PersonName</a></td>
                                            }
                                            else
                                            {
                                                <td>&nbsp;</td>
                                            }
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        }
                        @if (Model.OtherPerformances.Any()) {
                        <tr align="center">
                            <td colspan="3">
                                <br>
                                <b><u>Other Performances</u></b><br>
                                <br>
                                @foreach (var item in Model.OtherPerformances.OrderBy(x => x.Item3))
                                {
                                    <a href="@Url.Action(MVC.Shows.Get(item.Item1))">@ExtensionMethods.RearrangeShowTitle(item.Item2) (@item.Item3)</a>
                                    <br>
                                }
                            </td>
                        </tr>
                        }
                        @if (Model.Cast.Any()) {
                            <tr>
                                <td colspan="3" align="center">
                                    <br>
                                    <b><u>Cast</u></b><br>
                                    <br>
                                </td>
                            </tr>
                            foreach (var item in Model.Cast.OrderBy(x => x.PersonLastName))
                            {
                            <tr align="center">
                                <td width="47%" align="right"><a href="@Url.Action(MVC.Person.Get(item.PersonId))">@item.PersonName</a></td>
                                <td width="6%" align="center">&nbsp; - &nbsp;</td>
                                <td align="left">@item.Role</td>
                            </tr>
                            }
                        }
                        @if (Model.Crew.Any()) {
                            <tr>
                                <td colspan="3" align="center">
                                    <br>
                                    <br>
                                    <b><u>Crew</u></b><br>
                                    <br>
                                </td>
                            </tr>
                            foreach (var item in Model.Crew.OrderBy(x => x.DisplayOrder).ThenBy(x => x.PersonLastName))
                            {
                            <tr align="center">
                                <td width="47%" align="right"><a href="@Url.Action(MVC.Person.Get(item.PersonId))">@item.PersonName</a></td>
                                <td width="6%" align="center">&nbsp; - &nbsp;</td>
                                <td align="left">@item.Name</td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
