@model FODT.Views.Search.SearchResultsViewModel

<h1>Possible Matches for '@Model.SearchTerm':</h1>

@if (Model.Results.Count == 0)
{
    <h1>No Records found!</h1>
}

@if (Model.Results.Count >= 1)
{ 
    <table class="table table-striped">
        <tbody>
            @foreach (var item in Model.Results.OrderBy(x => x.SortField).ThenBy(x => x.Name))
            {
                <tr>
                    <td>
                        <a href="@item.LinkUrl">
                            <img src="@item.ImageUrl">
                            @item.Name
                            @if (!string.IsNullOrWhiteSpace(item.Year))
                            {
                                @:(@item.Year)
                                }
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}