<!DOCTYPE html>
<html lang="en">
<head>
    <title>Friends of Dramatech Online Database</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @System.Web.Optimization.Styles.Render("~/Assets/css/site")
    @RenderSection("endOfHead", false)
</head>
<body>
    @if (this.IsDebug())
    {
        <div style="position: fixed; top: 0; right: 5px; z-index: 1001;">
            <span class="label label-info visible-xs-inline-block">size: xs</span>
            <span class="label label-info visible-sm-inline-block">size: sm</span>
            <span class="label label-info visible-md-inline-block">size: md</span>
            <span class="label label-info visible-lg-inline-block">size: lg</span>
        </div>
    }
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">
                    fodt
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/archive">Archives</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <form method="get" action="~/archive/search" class="">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                        <input name="searchTerm" type="search" class="form-control" value="@ViewBag.SearchTerm" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-block visible-xs-block">Search Archive</button>
                    <button type="submit" class="btn hidden-xs">Search Archive</button>
                </div>
            </div>
        </form>
        <hr />
        @RenderBody()
    </div>
    <footer>
        <hr />
        <p class="copyright">
            © @DateTime.UtcNow.Year "Friends of DramaTech" and contributors.
            This site is <a href="https://github.com/jdaigle/FriendsOfDT" target="_blank">open source</a>
            under <a href="https://github.com/jdaigle/FriendsOfDT/blob/master/LICENSE" target="_blank">The MIT License</a>.
        </p>
    </footer>
    <script type="text/javascript">
        if (window.location.hash && window.location.hash === "#_=_") {
            if (window.history && history.pushState) {
                window.history.pushState("", document.title, window.location.pathname);
            } else {
                // Prevent scrolling by storing the page's current scroll offset
                var scroll = {
                    top: document.body.scrollTop,
                    left: document.body.scrollLeft
                };
                window.location.hash = "";
                // Restore the scroll offset, should be flicker free
                document.body.scrollTop = scroll.top;
                document.body.scrollLeft = scroll.left;
            }
        }
    </script>
    @System.Web.Optimization.Scripts.Render("~/Assets/js/site")
    @RenderSection("endOfBody", false)
</body>
</html>