@model FODT.Views.Media.GetItemDetailViewModel

<table align="center" width="100%">
    <tbody>
        <tr align="center">
            <td align="left" valign="top">
                @if (Model.HasPreviousMediaLinkURL)
                {
                    <a href="@Model.PreviousMediaLinkURL">&lt;--- Previous Item</a>
                } else {
                    @:&lt;--- Previous Item
                }
            </td>
            <td align="center">
                <center><font size="+2">Item @Model.ToString()</font><br><br><a href="@Model.MediaUploadLinkURL">Upload a new picture</a></center>
                <br>
                <br>
            </td>
            <td align="right" valign="top">
                @if (Model.HasNextMediaLinkURL)
                {
                    <a href="@Model.NextMediaLinkURL">Next Item ---&gt;</a>
                } else {
                    @:Next Item ---&gt;
                }
            </td>
        </tr>
    </tbody>
</table>


@Html.Partial("MediaItem", Model.MediaItemViewModel)


