@model FODT.Views.Awards.ByYearViewModel

<table width="80%" align="center">
    <tbody>
        <tr>
            <td width="25%"><a href="@Model.PreviousYearURL">&lt;--- Previous Year</a></td>
            <td width="25%" align="right"><a href="@Model.NextYearURL">Next Year ---&gt;</td>
        </tr>
    </tbody>
</table>


<div class="row">
    <div class="col-sm-3">
        <!-- TODO Photos Linked to Banquet -->
    </div>
    <div class="col-sm-9">
        <h1>Banquet @Model.Year</h1>
        @Html.EditableListTable(Model.AwardsTable, renderAwardsTableColumns)
    </div>
</div>

@helper renderAwardsTableColumns(FODT.Views.Awards.AwardViewModel item)
{
    <td>
        <strong>@item.Name</strong>
    </td>

    @*<td>
        @if (!((string)item.PersonLinkURL).IsNullOrWhiteSpace())
        {
            @: awarded to <a href="@item.PersonLinkURL">@item.PersonName</a>
            if (!((string)item.ShowLinkURL).IsNullOrWhiteSpace())
            {
                @: for <a href="@item.ShowLinkURL">@item.ShowName</a>
            }
        }
        else if (!((string)item.ShowLinkURL).IsNullOrWhiteSpace())
        {
            @: awarded to <a href="@item.ShowLinkURL">@item.ShowName</a>
        }
    </td>*@

    <td>
        @if (item.ToPerson)
        {
            @: to <a href="@item.PersonLinkURL">@item.PersonName</a>
        }
    </td>

    <td>
        @if (item.ForShow && !item.ToPerson)
        {
            @: to <a href="@item.ShowLinkURL">@item.ShowName</a>
        }
        @if (item.ForShow && item.ToPerson)
        {
            @: for <a href="@item.ShowLinkURL">@item.ShowName</a>
        }
    </td>
}