@model FODT.Views.Show.ShowDetailsViewModel

<table border="0" align="center" width="100%">
    <tbody>
        <tr align="center">
            <td align="left" valign="top">
                @if (Model.PreviousShowLinkURL != "")
                {
                    <a href="@Model.PreviousShowLinkURL">&lt;--- Previous Show</a>
                }
                else {
                    @:&lt;--- Previous Show
                }
            </td>
            <td align="right" valign="top">
                @if (Model.NextShowLinkURL != "")
                {
                    <a href="@Model.NextShowLinkURL">Next Show ---&gt;</a>
                }
                else {
                    @:Next Show ---&gt;
                }
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-3">
        @if (!Model.PhotoLinkURL.IsNullOrWhiteSpace())
        {
            <a href="@Model.PhotoLinkURL">
                <img src="@Model.PhotoThumbnailURL" alt="@Model.Title" class="img-thumbnail">
            </a>
        }
        else
        {
            <img src="@Model.PhotoThumbnailURL" alt="@Model.Title">
        }
        <hr />
        <ul class="media-banner">
            @foreach (var photo in Model.NewPhotos)
            {
                <li><a href="@photo.PhotoLinkURL"><img class="img-thumbnail" src="@photo.PhotoTinyURL" alt="@Model.Title"></a></li>
            }
        </ul>
        <a href="@Model.PhotoListLinkURL">@Model.PhotoCount Photos &raquo;</a>
        @if (Model.ShowPhotoUploadControl)
        {
            <div>
                <a href="@Model.PhotoUploadLinkURL" class="btn btn-primary btn-xs">Upload a Photo</a>
            </div>
        }
    </div>
    <div class="col-sm-9">
        <h1>@Model.Title</h1>
        <h4>by @Model.Author</h4>
        <h4>@Model.Quarter @Model.Year</h4>
        @*<p>
                Is this you? <a href="#" title="Claim this person so that you can edit so that you can edit the entry.">Claim this Person</a>
                | <a class="js-edit-modal-link" href="@Model.EditLinkURL">Edit Info</a>
            </p>*@
        <hr />
        @if (!Model.FunFacts.IsNullOrWhiteSpace())
        {
            <p>
                @Html.Raw(MarkdownSharp.Markdown.Default.Transform(Model.FunFacts))
            </p>
            <hr />
        }
        @if (!Model.Toaster.IsNullOrWhiteSpace())
        {
            <p>
                @Html.Raw(MarkdownSharp.Markdown.Default.Transform(Model.Toaster))
            </p>
            <hr />
        }
        @Html.EditableListTable(Model.OtherPerformances, renderOtherPerformancesTableColumns)
        @Html.EditableListTable(Model.AwardsTable, renderAwardsTableColumns)
        @Html.EditableListTable(Model.CastRolesTable, renderCastRolesTableColumns)
        @Html.EditableListTable(Model.CrewPositionsTable, renderCrewPositionsTableColumns)
    </div>
</div>

@helper renderOtherPerformancesTableColumns(FODT.Views.Show.OtherPerformancesViewModel item)
{
    <td>
        @item.ShowQuarter.ToString() @item.ShowYear
    </td>
    <td>
        <a href="@item.ShowLinkURL">@item.ShowName</a>
    </td>
}

@helper renderAwardsTableColumns(FODT.Views.Awards.AwardViewModel item)
{
    <td><a href="@item.AwardYearLinkURL">@item.Year</a></td>
    <td>
        @if (item.ToPerson)
        {
            @: @item.Name, awarded to <a href="@item.PersonLinkURL">@item.PersonName</a>
        }
        else
        {
            @item.Name
        }
    </td>
}

@helper renderCastRolesTableColumns(FODT.Views.Show.CastRoleViewModel item)
{
    <td><a href="@item.PersonLinkURL">@item.PersonName</a></td>
    <td>@item.Role</td>
}

@helper renderCrewPositionsTableColumns(FODT.Views.Show.CrewPositionViewModel item)
{
    <td><a href="@item.PersonLinkURL">@item.PersonName</a></td>
    <td>@item.Name</td>
}

@section endOfBody {
}
