<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Partial("CommonHead")
    @RenderSection("additionalHead", false)
    <script type="text/javascript">
        $(function () {
            var slideshow = new fodt.slideshowController($("div.slideshow"));
            slideshow.start();
        });
    </script>
</head>

<body>
    <div class="home">
        <div class="head">
            @Html.Partial("NavigationControls")
            <div class="slideshow">
                <ul>
                    <li><img src="http://demo.tutorialzine.com/2010/09/html5-canvas-slideshow-jquery/img/photos/1.jpg" alt="slide" /></li>
                    <li><img src="http://demo.tutorialzine.com/2010/09/html5-canvas-slideshow-jquery/img/photos/2.jpg" alt="slide" /></li>
                    <li><img src="http://demo.tutorialzine.com/2010/09/html5-canvas-slideshow-jquery/img/photos/3.jpg" alt="slide" /></li>
                    <li><img src="http://demo.tutorialzine.com/2010/09/html5-canvas-slideshow-jquery/img/photos/4.jpg" alt="slide" /></li>
                </ul>
            </div>
        </div>
        <div class="body">
            <div class="sidebar">
                <ul>
                    @*<li>
                        <h1>Upcoming Events</h1>
                        <p>Come out and support our shows! More info here.</p>
                    </li>*@
                    @*<li class="icon rss">
                        <h1>Subscribe RSS</h1>
                        <p>Keep in touch with us.</p>
                    </li>*@
                    @*<li>
                        <h1>History Tidbit</h1>
                        <p>DramaTech is a Theater.</p>
                    </li>*@
                    <li>
                        <h1>Other Links</h1>
                        <ul class="links">
                            <li><a target="_blank" href="http://dramatech.org">DramaTech</a></li>
                            <li><a target="_blank" href="http://imdt.friendsofdt.org/">IMDT</a></li>
                            <li><a target="_blank" href="http://gt.entertainmentalumni.org/">GTEN</a></li>
                        </ul>
                    </li>
                    <li>
                        <h1>Social Networking</h1>
                        <ul class="links icon-list">
                            <li><a class="icon twitter" target="_blank" href="http://twitter.com/gtdramatech"></a></li>
                            <li><a class="icon fb" target="_blank" href="http://facebook.com/group.php?gid=5944506425"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("CommonFoot")
    </div>
</body>
</html>
