@{
    if (ViewBag.ActiveLink == null) {
        ViewBag.ActiveLink = ActiveLinks.None;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Partial("CommonHead")
    @RenderSection("additionalHead", false)
</head>

<body>
    <div class="main">
        <div class="head">
            @Html.Partial("NavigationControls")
            @if (!string.IsNullOrWhiteSpace(ViewBag.SubTitle ?? string.Empty)) {
            <div class="title">@ViewBag.SubTitle</div>
            }
        </div>
        <div class="body">
            @Html.Partial("CommonSidebar")
            <div class="content">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("CommonFoot")
    </div>
</body>
</html>
