<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/reset-min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/base-min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fonts-min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    @RenderSection("additionalHead", false)
</head>

<body>
    @RenderBody()
</body>
</html>
