<div class="sidebar">
    <ul>
        <li>
        @if (!ViewBag.IsAuthenticated) {
            <script type="text/javascript">
                $(function () {
                    var controller = new fodt.ajaxFormController($("#signInForm"));
                    controller.onSuccess = function (form, data) {
                        if (data.errorCode != 0) {
                            var messages = form.find("div.messages");
                            messages.empty().html(data.message);
                            messages.show();
                            form.find("input[name='password']").val("");
                        }
                    };
                });
            </script>
            <h1>Sign In</h1>
            <form action="@Url.Action(MVC.Accounts.Login())" method="post" id="signInForm">
                <input type="text" name="emailAddress" placeholder="email" />
                <input type="password" name="password" placeholder="password" />
                <input type="hidden" name="returnUrl" value="@ViewContext.RequestContext.HttpContext.Request.Params["ReturnUrl"]" />
                <label for="login_persist">Remember Me:</label>@Html.CheckBox("persist", false, new { id = "login_persist" })
                <input type="submit" value="Sign In" />
                <div class="working"><img src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="working" /><span>Please Wait</span></div>
                <div class="messages"></div>
            </form>
            <div class="notRegisteredNotice">
                <h3>New to FriendsOfDT.org?</h3>
                <a href="@Url.Action(MVC.Accounts.SignUp())">Sign Up Today!</a>
            </div>
        } else {
            <h1>Welcome back <strong>@(((FriendsOfDT.Models.Accounts.WebAccount)ViewBag.Account).FirstName)</strong>!</h1>
            <p><a href="@Url.Action(MVC.Accounts.SignOut())" title="sign out">Sign Out</a></p>
        }
        </li>
        @*<li>
            <h1>Upcoming Events</h1>
            <p>Come out and support our shows! More info here.</p>
        </li>*@
        @*<li class="icon rss">
            <h1>Subscribe RSS</h1>
            <p>Keep in touch with us.</p>
        </li>*@
        @*<li>
            <h1>History Tidbit</h1>
            <p>DramaTech is a Theater.</p>
        </li>*@
        <li>
            <h1>Other Links</h1>
            <ul class="links">
                <li><a target="_blank" href="http://dramatech.org">DramaTech</a></li>
                <li><a target="_blank" href="http://imdt.friendsofdt.org/">IMDT</a></li>
                <li><a target="_blank" href="http://gt.entertainmentalumni.org/">GTEN</a></li>
            </ul>
        </li>
        <li>
            <h1>Social Networking</h1>
            <ul class="links icon-list">
                <li><a class="icon twitter" target="_blank" href="http://twitter.com/gtdramatech"></a></li>
                <li><a class="icon fb" target="_blank" href="http://facebook.com/group.php?gid=5944506425"></a></li>
            </ul>
        </li>
    </ul>
</div>