@model FODT.Views.Search.SearchResultsViewModel

<h1>Possible Matches for '@Model.SearchTerm':</h1>
<br>

@if (Model.Results.Count == 0)
{
    <h1>No Records found!</h1>
}

@if (Model.Results.Count >= 1)
{ 
    var rowCount = Math.Ceiling((double)Model.Results.Count / 4d);
    <table align="center" border="1">
        @for (int i = 0; i < rowCount; i++)
        {
            <tr>
                @foreach (var item in Model.Results.OrderBy(x => x.SortField).ThenBy(x => x.Name).Skip(i * 4).Take(4))
	            {
                    <td align="center" valign="middle">
	                    <div class="rollover">
	                        <a href="@item.LinkUrl">
	                            <img src="@item.ImageUrl">
                                <br>@item.Name
                                @if (!string.IsNullOrWhiteSpace(item.Year))
                                {
                                    @:(@item.Year)
                                }
	                        </a>
	                    </div>
                    </td>
	            }
            </tr>
        }
        <tr>
        </tr>
    </table>
}