@model FODT.Views.Person.GetViewModel

@section endOfHead {
    <style type="text/css">
        ul.media-banner {
        	margin-top: 15px;
        	margin-left: 0px;
        }
        ul.media-banner li {
        	list-style: none;
        	display: inline-block;
        }
    </style>
}

<div class="row">
    <div class="span3">
        @if (Model.MediaItemId != 1){
            <a href="@Url.Action(MVC.Person.GetPersonMedia(Model.PersonId, Model.MediaItemId))">
                <img src="@Url.Action(MVC.Media.GetItemThumbnail(Model.MediaItemId))" alt="@Model.FullName">
            </a>
        } else {
            <img src="@Url.Action(MVC.Media.GetItemThumbnail(Model.MediaItemId))" alt="@Model.FullName">
        }
        <hr />
        <i class="icon-th"></i>
        <span>|</span>
        <a href="@Url.Action(MVC.Person.ListPersonMedia(Model.PersonId))">@Model.RelatedMediaCount Images</a>
        &raquo; 
        <ul class="media-banner">
            @foreach (var item in Model.NewRelatedMedia)
            {
                <li><a href="@Url.Action(MVC.Person.GetPersonMedia(Model.PersonId, item))"><img src="@Url.Action(MVC.Media.GetItemTiny(item))" alt="@Model.FullName"></a></li>    
            }
        </ul>
        <a href="@Url.Action(MVC.Media.Upload())"><i class="icon-upload"></i> Upload an Image</a>
    </div>
    <div class="span6">
        <h1>@Model.FullName</h1>
        <h6><i class="icon-edit"></i> <a href="@Url.Action(MVC.Person.Edit())">Edit Person</a></h6>
        <h6><i class="icon-user"></i> Is this you? <a href="#" title="Claim this person so that you can edit so that you can edit the entry.">Claim this Person</a></h6>
        <hr />
        @if (!string.IsNullOrWhiteSpace(Model.Biography))
        {
            <p>
                @Html.Raw(MarkdownSharp.Markdown.Default.Transform(Model.Biography))... <a href="#">See full bio</a> &raquo;
            </p>
            <hr />
        }

        @if (Model.Awards.Any())
        {
        <h4>Awards <small style="float:right;"><a href="#"><i class="icon-plus-sign"></i> Add Award</a></small></h4>
        <table class="table table-striped table-condensed table-hover">
            <tbody>
                @foreach (var item in Model.Awards.OrderByDescending(x => x.Year).ThenBy(x => x.Name))
                {
                <tr>
                    <td><a href="@Url.Action(MVC.Awards.ByYear(item.Year))">@item.Year</a></td>
                    <td>
                        @item.Name
                        @if (item.ShowId.HasValue)
                        {
                            @: for <a href="@Url.Action(MVC.Show.Get(item.ShowId.Value))">@ExtensionMethods.RearrangeShowTitle(item.ShowName)</a>
                        }
                    </td>
                    <td style="text-align: right;">
                        <a href="#" title="Edit"><i class="icon-edit"></i></a>
                        @if (item.ShowId.HasValue)
                        {
                        <a href="@Url.Action(MVC.Person.DeleteShowAward(Model.PersonId, item.AwardId))" title="Remove" onclick="if (confirm('Are you sure?')) { return fodt.postLink(event); } return false;"><i class="icon-remove-sign"></i></a>
                        }
                        else
                        {
                        <a href="@Url.Action(MVC.Person.DeletePersonAward(Model.PersonId, item.AwardId))" title="Remove" onclick="if (confirm('Are you sure?')) { return fodt.postLink(event); } return false;"><i class="icon-remove-sign"></i></a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <h4>Awards <small style="float:right;"><a href="#"><i class="icon-plus-sign"></i> Add Award</a></small></h4>
        }

        @if (Model.ClubPositions.Any())
        {
        <h4>EC and Club Responsibilities <small style="float: right;"><a href="#"><i class="icon-plus-sign"></i>Add Position</a></small></h4>
        <table class="table table-striped table-condensed table-hover">
            <tbody>
                @foreach (var item in Model.ClubPositions)
                {
                    <tr>
                        <td><a href="#">@item.Year</a></td>
                        <td>@item.Name</td>
                        <td style="text-align: right;">
                            <a href="#" title="Edit"><i class="icon-edit"></i></a>
                            <a href="@Url.Action(MVC.Person.DeletePersonClubPosition(Model.PersonId, item.ClubPositionId))" title="Remove" onclick="if (confirm('Are you sure?')) { return fodt.postLink(event); } return false;"><i class="icon-remove-sign"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <h4>EC and Club Responsibilities <small style="float: right;"><a href="#"><i class="icon-plus-sign"></i>Add Position</a></small></h4>
        }

        @if (Model.CastRoles.Any())
        {
        <h4>Cast Credits <small style="float: right;"><a href="#"><i class="icon-plus-sign"></i>Add Credit</a></small></h4>
        <table class="table table-striped table-condensed table-hover">
            <tbody>
                @foreach (var item in Model.CastRoles.OrderByDescending(x => x.ShowYear).ThenByDescending(x => x.ShowQuarter).ThenBy(x => x.ShowName))
                {
                    <tr>
                        <td>@item.ShowQuarter.ToString() @item.ShowYear</td>
                        <td><a href="@Url.Action(MVC.Show.Get(item.ShowId))">@ExtensionMethods.RearrangeShowTitle(item.ShowName)</a></td>
                        <td>@item.Role</td>
                        <td style="text-align: right;">
                            <a href="#" title="Edit"><i class="icon-edit"></i></a>
                            <a href="@Url.Action(MVC.Person.DeleteShowCast(Model.PersonId, item.ShowCastId))" title="Remove" onclick="if (confirm('Are you sure?')) { return fodt.postLink(event); } return false;"><i class="icon-remove-sign"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <h4>Cast Credits <small style="float: right;"><a href="#"><i class="icon-plus-sign"></i>Add Credit</a></small></h4>
        }

        @if (Model.CrewPositions.Any())
        {
        <h4>Crew Credits <small style="float: right;"><a href="#"><i class="icon-plus-sign"></i>Add Credit</a></small></h4>
        <table class="table table-striped table-condensed table-hover">
            <tbody>
                @foreach (var item in Model.CrewPositions.OrderByDescending(x => x.ShowYear).ThenByDescending(x => x.ShowQuarter).ThenBy(x => x.ShowName))
                {
                    <tr data-showid="@item.ShowId" data-name="@item.Name">
                        <td>@item.ShowQuarter.ToString() @item.ShowYear</td>
                        <td><a href="@Url.Action(MVC.Show.Get(item.ShowId))">@ExtensionMethods.RearrangeShowTitle(item.ShowName)</a></td>
                        <td>@item.Name</td>
                        <td style="text-align: right;">
                            <a href="#" class="js-edit-crew" title="Edit"><i class="icon-edit"></i></a>
                            <a href="@Url.Action(MVC.Person.DeleteShowCrew(Model.PersonId, item.ShowCrewId))" title="Remove" onclick="if (confirm('Are you sure?')) { return fodt.postLink(event); } return false;"><i class="icon-remove-sign"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <h4>Crew Credits <small style="float: right;"><a href="#"><i class="icon-plus-sign"></i>Add Credit</a></small></h4>
        }
    </div>
</div>



<script id="editCrewTemplate" type="text/x-jsrender">
    <tr class="warning editor">
        <td colspan="4" style="text-align: right;">
            <form class="form-inline" autocomplete="off" method="post" action=".">
            <select style="max-width: 200px;">
                <option value=""></option>
                @foreach (var item in Model.AllShows.OrderBy(x => x.ShowTitle))
                {
                    <option value="@item.ShowId" {{if (showId == '@item.ShowId')}} selected="selected" {{/if}}>@item.ShowTitle (@item.ShowYear)</option>
                }
            </select>
            <input type="text" class="input input-medium" data-provide="typeahead" data-source='@asJavscriptArray(Model.UniqueCrewPositions)' value="{{>name}}" />
            <button class="btn btn-primary btn-mini" type="submit" title="Save"><i class="icon-ok icon-white"></i></button>
            <button class="btn btn-danger btn-mini js-edit-crew-cancel" type="button" title="Cancel"><i class="icon-remove icon-white"></i></button>
            </form>
        </td>
    </tr>
</script>

@helper asJavscriptArray(List<string> input) {
    @Html.Raw(input.Aggregate("[", (a, i) => a += "\"" + Html.Encode(i) + "\"" + ",", x => x.Trim(',') + "]"))
}

@section endOfBody {
    <script type="text/javascript">
        $(function () {
            $(document).on("click", ".js-edit-crew", function (e) {
                e.preventDefault();
                var $parentRow = $(this).closest("tr");
                var $parentTable = $(this).closest("table");
                // close any existing editor and show hidden rows
                $parentTable.find("tr.editor").remove();
                $parentTable.find("tr").show();
                // render the editor
                var editor = $("#editCrewTemplate").render({ name: $parentRow.data("name"), showId: $parentRow.data("showid") })
                // add editor next to row to edit, and hide row to edit
                $parentRow.after(editor);
                $parentRow.hide();
            });
            $(document).on("click", ".js-edit-crew-cancel", function (e) {
                e.preventDefault();
                var $parentTable = $(this).closest("table");
                // close any existing editor and show hidden rows
                $parentTable.find("tr.editor").remove();
                $parentTable.find("tr").show();
            });
        });
    </script>
}