@model FODT.Views.Person.GetPersonMediaViewModel

<div style="text-align: center;">
    <h3>Media for <a href="@Model.PersonLinkURL">@Model.PersonFullname</a></h3>
    <p>
        <a href="@Model.MediaUploadLinkURL">Upload more images for this person</a>
    </p>
</div>

<ul class="pager">
    <li class="previous @(Model.HasPreviousMediaLinkURL ? "" : "disabled")">
        <a href="@Model.PreviousMediaLinkURL">&larr; Previous</a>
    </li>
    <li class="next @(Model.HasNextMediaLinkURL ? "" : "disabled")">
        <a href="@Model.NextMediaLinkURL">Next &rarr;</a>
    </li>
</ul>

@Html.Partial("MediaItem", Model.MediaItemViewModel)