@model FODT.Views.Person.GetPersonMediaViewModel

<div style="text-align: center;">
    <h3>Media for <a href="@Url.Action(MVC.Person.Get(Model.PersonId))">@Model.PersonFullname</a></h3>
    <p>
        <a href="@Url.Action(MVC.Media.Upload())">Upload more images for this person</a>
    </p>
</div>

<ul class="pager">
    <li class="previous @(Model.PreviousId.HasValue ? "" : "disabled")">
        <a href="@Url.Action(MVC.Person.GetPersonMedia(Model.PersonId, Model.PreviousId ?? Model.MediaItemId))">&larr; Previous</a>
    </li>
    <li class="next @(Model.NextId.HasValue ? "" : "disabled")">
        <a href="@Url.Action(MVC.Person.GetPersonMedia(Model.PersonId, Model.NextId ?? Model.MediaItemId))">Next &rarr;</a>
    </li>
</ul>

@Html.Partial("MediaItem", Model.MediaItemViewModel)