@model FODT.Views.Person.ListPersonMediaViewModel

<div style="text-align:center;">
    <h3>Media for <a href="@Model.PersonLinkURL">@Model.PersonFullname</a></h3>
    @if (Model.RelatedMedia.Count == 0)
    {
        <h4>No associated media found!</h4><h4>Would you like to <a href="@Model.MediaUploadLinkURL">upload some</a>?</h4>
    }
</div>
@if (Model.RelatedMedia.Any())
{
    <div style="text-align:center;">
        <p>
            <a href="@Model.MediaUploadLinkURL">Upload more images for this person</a>
        </p>
    </div>
    var rowCount = Math.Ceiling((double)Model.RelatedMedia.Count / 4d);
    <table class="table media">
        <tbody>
            @for (int i = 0; i < rowCount; i++)
            {
                <tr>
                    @foreach (var item in Model.RelatedMedia.Skip(i * 4).Take(4))
                    {
                        <td>
                            <a href="@item.MediaLinkURL">
                                <img src="@item.MediaThumbnailURL"></a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div style="text-align:center;">
        <p>
            <a href="@Model.MediaUploadLinkURL">Upload more images for this person</a>
        </p>
    </div>
}