@model FODT.Views.Person.PersonDetailsViewModel

@section endOfHead {
    <style type="text/css">
        ul.media-banner {
            margin-top: 15px;
            margin-left: 0;
            padding: 0;
        }

            ul.media-banner li {
                list-style: none;
                display: inline-block;
            }
    </style>
}

<div class="row">
    <div class="col-sm-3">
        @if (Model.MediaItemId != 1)
        {
            <a href="@Model.MediaLinkURL">
                <img src="@Model.MediaThumbnailURL" alt="@Model.FullName" class="img-thumbnail">
            </a>
        }
        else
        {
            <img src="@Model.MediaThumbnailURL" alt="@Model.FullName">
        }
        <hr />
        <a href="@Model.MediaListLinkURL">@Model.RelatedMediaCount Images &raquo;</a>
        <ul class="media-banner">
            @foreach (var item in Model.NewRelatedMedia)
            {
                <li><a href="@item.MediaLinkURL"><img class="img-thumbnail" src="@item.MediaThumbnailURL" alt="@Model.FullName"></a></li>
            }
        </ul>
        <a href="@Model.MediaUploadLinkURL"><i class="glyphicon glyphicon-upload"></i> Upload an Image</a>
    </div>
    <div class="col-sm-9">
        <h1>@Model.FullName</h1>
        <p>
            Is this you? <a href="#" title="Claim this person so that you can edit so that you can edit the entry.">Claim this Person</a>
            | <a class="js-edit-modal-link" href="@Model.EditLinkURL">Edit Info</a>
        </p>
        <hr />
        @if (!string.IsNullOrWhiteSpace(Model.Biography))
        {
            <p>
                @Html.Raw(MarkdownSharp.Markdown.Default.Transform(Model.Biography))
            </p>
            <hr />
        }

        <h4>Awards <small class="pull-right"><a class="js-edit-modal-link" href="@Model.AddAwardURL"><i class="glyphicon glyphicon-plus"></i> Add Award</a></small></h4>
        @if (Model.Awards.Any())
        {
            <table class="table table-condensed table-hover">
                <tbody>
                    @foreach (var item in Model.Awards.OrderByDescending(x => x.Year).ThenBy(x => x.Name))
                    {
                        <tr>
                            <td><a href="@item.AwardYearLinkURL">@item.Year</a></td>
                            <td>
                                @item.Name
                                @if (item.ShowId.HasValue)
                                {
                                    @: for <a href="@item.ShowLinkURL">@ExtensionMethods.RearrangeShowTitle(item.ShowName)</a>
                                }
                            </td>
                            <td style="text-align: right;">
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li>
                                            <a href="@item.DeleteAwardURL" title="Remove" onclick="if (confirm('Are you sure?')) { return fodt.postLink(event); } return false;"><i class="glyphicon glyphicon-remove"></i> Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <h4>EC and Club Responsibilities <small class="pull-right"><a class="js-edit-modal-link" href="@Model.AddClubPositionURL"><i class="glyphicon glyphicon-plus"></i> Add Position</a></small></h4>
        @if (Model.ClubPositions.Any())
        {
            <table class="table table-condensed table-hover">
                <tbody>
                    @foreach (var item in Model.ClubPositions)
                    {
                        <tr>
                            <td><a href="#">@item.Year</a></td>
                            <td>@item.Name</td>
                            <td style="text-align: right;">
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="@item.DeleteClubPositionURL" title="Remove" onclick="if (confirm('Are you sure?')) { return fodt.postLink(event); } return false;"><i class="glyphicon glyphicon-remove"></i> Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <h4>Cast Credits <small class="pull-right"><a class="js-edit-modal-link" href="@Model.AddCastURL"><i class="glyphicon glyphicon-plus"></i> Add Cast Credit</a></small></h4>
        @if (Model.CastRoles.Any())
        {
            <table class="table table-condensed table-hover">
                <tbody>
                    @foreach (var item in Model.CastRoles.OrderByDescending(x => x.ShowYear).ThenByDescending(x => x.ShowQuarter).ThenBy(x => x.ShowName))
                    {
                        <tr>
                            <td>@item.ShowQuarter.ToString() @item.ShowYear</td>
                            <td><a href="@item.ShowLinkURL">@ExtensionMethods.RearrangeShowTitle(item.ShowName)</a></td>
                            <td>@item.Role</td>
                            <td style="text-align: right;">
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="@item.DeleteCastURL" title="Remove" onclick="if (confirm('Are you sure?')) { return fodt.postLink(event); } return false;"><i class="glyphicon glyphicon-remove"></i> Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <h4>Crew Credits <small class="pull-right"><a class="js-edit-modal-link" href="@Model.AddCrewURL"><i class="glyphicon glyphicon-plus"></i> Add Crew Credit</a></small></h4>
        @if (Model.CrewPositions.Any())
        {
            <table class="table table-condensed table-hover">
                <tbody>
                    @foreach (var item in Model.CrewPositions.OrderByDescending(x => x.ShowYear).ThenByDescending(x => x.ShowQuarter).ThenBy(x => x.ShowName))
                    {
                        <tr data-showid="@item.ShowId" data-name="@item.Name">
                            <td>@item.ShowQuarter.ToString() @item.ShowYear</td>
                            <td><a href="@item.ShowLinkURL">@ExtensionMethods.RearrangeShowTitle(item.ShowName)</a></td>
                            <td>@item.Name</td>
                            <td style="text-align: right;">
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="@item.DeleteCrewURL" title="Remove" onclick="if (confirm('Are you sure?')) { return fodt.postLink(event); } return false;"><i class="glyphicon glyphicon-remove"></i> Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>


@section endOfBody {
    <script type="text/javascript">
        $(function () {
            $(document).on('click', '.js-edit-modal-link', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $.get(url, function (html) {
                    $(html).modal();
                });
            });
        });
    </script>
}