@model FODT.Views.Person.PersonDetailsViewModel

<div class="row">
    <div class="col-sm-3">
        @if (Model.MediaItemId != 1)
        {
            <a href="@Model.MediaLinkURL">
                <img src="@Model.MediaThumbnailURL" alt="@Model.FullName" class="img-thumbnail">
            </a>
        }
        else
        {
            <img src="@Model.MediaThumbnailURL" alt="@Model.FullName">
        }
        <hr />
        <a href="@Model.MediaListLinkURL">@Model.RelatedMediaCount Images &raquo;</a>
        <ul class="media-banner">
            @foreach (var item in Model.NewRelatedMedia)
            {
                <li><a href="@item.MediaLinkURL"><img class="img-thumbnail" src="@item.MediaThumbnailURL" alt="@Model.FullName"></a></li>
            }
        </ul>
        @*<a href="@Model.MediaUploadLinkURL"><i class="glyphicon glyphicon-upload"></i> Upload an Image</a>*@
    </div>
    <div class="col-sm-9">
        <h1>@Model.FullName</h1>
        @*<p>
            Is this you? <a href="#" title="Claim this person so that you can edit so that you can edit the entry.">Claim this Person</a>
            | <a class="js-edit-modal-link" href="@Model.EditLinkURL">Edit Info</a>
        </p>*@
        <hr />
        @if (!string.IsNullOrWhiteSpace(Model.Biography))
        {
            <p>
                @Html.Raw(MarkdownSharp.Markdown.Default.Transform(Model.Biography))
            </p>
            <hr />
        }

        @Html.Partial("RelationTable", Model.AwardsTable)
        @Html.Partial("RelationTable", Model.ClubPositionsTable)
        @Html.Partial("RelationTable", Model.CastRolesTable)
        @Html.Partial("RelationTable", Model.CrewPositionsTable)
    </div>
</div>


@section endOfBody {
    <script type="text/javascript">
        $(function () {
            $(document).on('click', '.js-edit-modal-link', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $.get(url, function (html) {
                    $(html).modal();
                });
            });
        });
    </script>
}