<!DOCTYPE html>
<html>
<head>
    <title>Friends of Dramatech Online Database</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @System.Web.Optimization.Styles.Render("~/Assets/css/site")
    @RenderSection("endOfHead", false)
</head>
<body>
    <div class="main">
        <div class="head">
            <div class="navigation">
                <ul>
                    <li class="active">// <a href="#" title="home">Home</a></li>
                    <li>// <a href="#" title="about us">About Us</a></li>
                    <li class="active">// <a href="#" title="about us">Directory</a></li>
                    <li>// <a href="#" title="show archive">Show Archive</a></li>        
                    @*<li>// <a href="#">Active</a></li>
                    <li>// <a href="#">About Us</a></li>*@
                </ul>
            </div>
            <div class="title">@ViewBag.PageTitle</div>
        </div>
        <div class="container body">
            <div class="row">
                <div class="content span9">
                    <div style="text-align: center;">
                        <form method="get" action="@Url.Action(MVC.Search.Search())" class="form-search">
                            <input name="searchTerm" type="text" class="input span5 search-query" value="@ViewBag.SearchTerm" />
                            <button type="submit" class="btn">Search</button>
                        </form>
                    </div>
                    @RenderBody()
                </div>
                <div class="sidebar span3">
                    <ul>
                        <li>
                            @if (!ViewBag.IsAuthenticated) {
                            <h1>Sign In / Sign Up</h1>
                            <a class="sign-in-facebook" href="@Url.Action(MVC.User.SignIn())"></a>
                            } else {
                            <h1>Welcome @ViewBag.UserName!</h1>   
                            <a href="@Url.Action(MVC.User.SignOut())">Sign Out</a>
                            }
                        </li>
                        <li>
                            <h1>Upcoming Events</h1>
                            <p>Come out and support our shows! More info here.</p>
                        </li>
                        <li class="icon rss">
                            <h1>Subscribe RSS</h1>
                            <p>Keep in touch with us.</p>
                        </li>
                        <li>
                            <h1>History Tidbit</h1>
                            <p>DramaTech is a Theater.</p>
                        </li>
                        <li>
                            <h1>Other Links</h1>
                            <ul class="links">
                                <li><a target="_blank" href="http://dramatech.org">DramaTech</a></li>
                                <li><a target="_blank" href="http://imdt.friendsofdt.org/">IMDT</a></li>
                                <li><a target="_blank" href="http://gt.entertainmentalumni.org/">GTEN</a></li>
                            </ul>
                        </li>
                        <li>
                            <h1>Social Networking</h1>
                            <ul class="links list-icon">
                                <li><a class="icon twitter" target="_blank" href="http://twitter.com/gtdramatech"></a></li>
                                <li><a class="icon fb" target="_blank" href="http://facebook.com/group.php?gid=5944506425"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="foot">
            <p>&copy; @DateTime.Now.Year Friends Of DramaTech</p>
            <p>Contact the <a href="mailto:fodtadmin@cridion.com">webmaster</a></p>
        </div>
    </div>
    <script type="text/javascript">
        if (window.location.hash == "#_=_") {
            window.location.hash = "";
        }
    </script>
    @System.Web.Optimization.Scripts.Render("~/Assets/js/site")
    @RenderSection("endOfBody", false)
</body>
</html>
