@model FODT.Views.Shared.MediaItemViewModel
<div style="text-align: center;">
    <p>
        <a href="@Url.Action(MVC.Media.GetItem(Model.Id))" target="_blank"><img src="@Url.Action(MVC.Media.GetItem(Model.Id))" style="max-width: 600px;" /></a>
    </p>
</div>
<div style="text-align: center;">
    <p>
        This image is tagged with:
    </p>
    <ul style="list-style: none;">
        @foreach (var item in Model.RelatedShows)
        {
            <li><a href="@Url.Action(MVC.Show.Get(item.ShowId))">@ExtensionMethods.RearrangeShowTitle(item.ShowTitle) (@item.ShowYear)</a></li>
        }
        @foreach (var item in Model.RelatedPeople)
        {
            <li><a href="@Url.Action(MVC.Person.Get(item.PersonId))">@item.PersonFullname</a></li>
        }
    </ul>
</div>
<div style="text-align: center;">
    <p>
        See someone in the image not listed above? Should it be tied to a show? Tie them in!
    </p>
    <form class="form-inline" method="POST" action="@Url.Action(MVC.Media.Tag(Model.Id, 0, 0))">
    <fieldset>
        <legend>Tag Image to Person or Show</legend>

    </fieldset>

    Person:
    <select name="PersonId">
        <option value=""></option>
        @foreach (var item in Model.AllPeople.OrderBy(x => x.PersonLastName))
        {
            <option value="@item.PersonId">@item.PersonLastName, @item.PersonFirstName</option>
        }
    </select>
    Show:
    <select name="ShowId">
        <option value=""></option>
        @foreach (var item in Model.AllShows.OrderBy(x => x.ShowTitle))
        {
            <option value="@item.ShowId">@item.ShowTitle (@item.ShowYear)</option>
        }
    </select>
    <input type="submit" class="btn" value="Tag Image">
    </form>
</div>