@{
    if (ViewBag.ActiveLink == null) {
        ViewBag.ActiveLink = ActiveLinks.None;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Partial("CommonHead")
    @RenderSection("additionalHead", false)
    <script type="text/javascript">
        $(function () {
            var slideshow = new fodt.slideshowController($("div.slideshow"));
            slideshow.start();
        });
    </script>
</head>

<body>
    <div class="main home">
        <div class="head">
            @Html.Partial("NavigationControls")
            <div class="slideshow">
                <ul>
                    <li><img src="@Url.Content("~/content/images/slider/slider-fodt.jpg")" alt="slide" /></li>
                    <li><img src="@Url.Content("~/content/images/slider/slider-football.jpg")" alt="slide" /></li>
                </ul>
            </div>
        </div>
        <div class="body">
            @Html.Partial("CommonSidebar")
            <div class="content">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("CommonFoot")
    </div>
</body>
</html>
