@model FODT.Views.Photos.PhotoViewModel
<p class="text-center">
    <a href="@Model.OriginalPhotoURL" target="_blank"><img src="@Model.PhotoURL" class="img-responsive center-block img-thumbnail" /></a>
    <small><em>Click Photo to Download Original</em></small>
</p>

<div class="center-block" style="max-width: 400px;">
    <div>
        Uploaded on <strong>@Model.UploadDate</strong>.
        @if (Model.ShowAddTagControl)
        {
            <div class="pull-right">
                <button class="btn btn-xs btn-primary js-edit-modal-link" data-url="@Model.AddTagPartialURL">Tag Person/Show</button>
                @if (Model.ShowDeletePhotoControl)
                {
                <button class="btn btn-xs btn-danger js-delete-button" data-url="@Model.DeletePhotoURL" data-delete-confirmation-text="Are you sure you want to delete this photo?">Delete</button>
                }
            </div>
        }
        <div class="clearfix"></div>
    </div>
    <div>
        @if (Model.RelatedShows.Any())
        {
            @:From @Model.Join(Model.RelatedShows,
                @<span>
                    <strong><a href="@item.ShowLinkURL">@item.ShowTitle (@item.ShowYear)</a></strong>
                    @if (item.ShowDeleteControl)
                    {
                        <a class="js-delete-button delete-button small" href="@item.DeleteURL" title="Delete" data-delete-confirmation-text="Are you sure you want to delete this tag?">❌</a>
                    }
                </span>
                )
        }
    </div>
    <div>
        @if (Model.RelatedPeople.Any())
        {
            @:With @Model.Join(Model.RelatedPeople,
                @<span>
                    <strong><a href="@item.PersonLinkURL">@item.PersonFullname</a></strong>
                    @if (item.ShowDeleteControl)
                    {
                        <a class="js-delete-button delete-button small" href="@item.DeleteURL" title="Delete" data-delete-confirmation-text="Are you sure you want to delete this tag?">❌</a>
                    }
                </span>
                )
        }
    </div>
</div>
