@model FODT.Views.Photos.PhotoDetailViewModel

<table align="center" width="100%">
    <tbody>
        <tr align="center">
            <td align="left" valign="top">
                @if (Model.HasPreviousPhotoLinkURL)
                {
                    <a href="@Model.PreviousPhotoLinkURL">&lt;--- Previous Item</a>
                } else {
                    @:&lt;--- Previous Item
                }
            </td>
            <td align="center">
                <center><font size="+2">Item @Model.ToString()</font><br><br><a href="@Model.PhotoUploadLinkURL">Upload a new picture</a></center>
                <br>
                <br>
            </td>
            <td align="right" valign="top">
                @if (Model.HasNextPhotoLinkURL)
                {
                    <a href="@Model.NextPhotoLinkURL">Next Item ---&gt;</a>
                } else {
                    @:Next Item ---&gt;
                }
            </td>
        </tr>
    </tbody>
</table>


@Html.PartialView(Model.PhotoViewModel)


