@model FODT.Views.Photos.PhotoListViewModel
<div class="row">
    @if (Model.CurrentPhotoViewModel != null)
    {
        <div class="col-sm-6">
            @Html.PartialView(Model.CurrentPhotoViewModel)
        </div>
    }
    <div class="col-sm-6">
        @if (Model.ShowParentHeader)
        {
            <h1>Photos of <a href="@Model.ParentLinkURL">@Model.ParentName</a></h1>
            <hr />
        }
        @if (Model.Photos.Count == 0)
        {
            <div class="text-center">
                <h4>No photos found!</h4>
            </div>
        }
        @if (Model.Photos.Any())
        {
            var rowCount = Math.Ceiling((double)Model.Photos.Count / 4d);
            <div>
                @for (int i = 0; i < rowCount; i++)
                {
                    <div class="row" style="">
                        @foreach (var item in Model.Photos.Skip(i * 4).Take(4))
                        {
                            <div class="col-xs-6 col-md-3 dt-photo-grid-cell">
                                <a href="@item.PhotoLinkURL">
                                    <img src="@item.PhotoThumbnailURL" />
                                </a>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
