@model FODT.Views.Photos.PhotoViewModel
<p>
    <a href="@Model.PhotoURL" target="_blank"><img src="@Model.PhotoURL" class="img-responsive center-block" /></a>
</p>

<div class="center-block" style="max-width: 400px;">

    <div class="text-center">
        Uploaded on <strong>@Model.UploadDate</strong>.
        @if (Model.RelatedShows.Any())
        {
            <ul class="list-inline center-block" style="margin: 0;">
                <li>From</li>
                @foreach (var item in Model.RelatedShows)
                {
                    <li><strong><a href="@item.ShowLinkURL">@item.ShowTitle (@item.ShowYear)</a></strong></li>
                }
            </ul>
        }
        @if (Model.RelatedPeople.Any())
        {
            <ul class="list-inline center-block" style="margin: 0;">
                <li>With</li>
                @foreach (var item in Model.RelatedPeople)
                {
                    <li><strong><a href="@item.PersonLinkURL">@item.PersonFullname</a></strong></li>
                }
            </ul>
        }
    </div>

    @if (Model.CanAddTag)
    {
        <button class="btn btn-xs btn-primary js-edit-modal-link" data-url="@Model.AddTagURL">Tag Person or Show</button>
    }
</div>
