@model FODT.Views.Photos.PhotoViewModel
<p>
    <a href="@Model.PhotoURL" target="_blank"><img src="@Model.PhotoURL" class="img-responsive center-block" /></a>
</p>
<div class="text-center">
    Uploaded on @Model.UploadDate.
    @if (Model.RelatedShows.Any())
    {
        <ul class="list-inline center-block" style="margin: 0;">
            <li>From</li>
            @foreach (var item in Model.RelatedShows)
            {
                <li><a href="@item.ShowLinkURL">@ExtensionMethods.RearrangeShowTitle(item.ShowTitle) (@item.ShowYear)</a></li>
            }
        </ul>
    }
    @if (Model.RelatedPeople.Any())
    {
        <ul class="list-inline center-block" style="margin: 0;">
            <li>With</li>
            @foreach (var item in Model.RelatedPeople)
            {
                <li><a href="@item.PersonLinkURL">@item.PersonFullname</a></li>
            }
        </ul>
    }
</div>
