@model FODT.Views.Photos.UploadViewModel

<div class="row">
    @if (Model.ShowParentHeader)
    {
        <h4><a href="@Model.ParentLinkURL">@Model.ParentName</a> &raquo; <a href="@Model.PhotoListLinkURL">@Model.PhotoCount Photos</a> &raquo; Upload Photo</h4>
        <hr />
    }
    <form enctype="multipart/form-data" method="POST" action="@Model.UploadFormURL">
        <h3>Upload a Photo</h3>
        <p>
            You may upload a photo (usually a JPEG) and "tag it" with multiple people or shows. We will automatically resize it for display on the website, but keep the original available as a JPEG for download.
        </p>
        <div class="form-group">
            <input type="file" name="Photo" />
            <p class="help-block">Max file size is 10 MB.</p>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
