@model FriendsOfDT.Models.Accounts.WebAccount
@{
    ViewBag.Title = "FoDT | Admin | Accounts | " + Model.LastName + ", " + Model.FirstName;
    ViewBag.SubTitle = "Admin";

    var metadata = (EntityMetadata)ViewBag.Metadata;
}
@section additionalHead {
<script type="text/javascript">
    $(function () {
        $("#verifyAccountButton").on("click", function (e) {
            e.preventDefault();
            $.post("@Url.Action(MVC.Accounts.VerifyWebAccount((long)ViewBag.Id))", { }, function () { window.location.reload(true); });
        });
        $("#disableAccountButton").on("click", function (e) {
            e.preventDefault();
            $.post("@Url.Action(MVC.Accounts.DisableWebAccount((long)ViewBag.Id))", { }, function () { window.location.reload(true); });
        });
        $("#enableAccountButton").on("click", function (e) {
            e.preventDefault();
            $.post("@Url.Action(MVC.Accounts.EnableWebAccount((long)ViewBag.Id))", { }, function () { window.location.reload(true); });
        });
        $("#linkAccountToDirectoryButton").on("click", function (e) {
            e.preventDefault();
            window.location = "@Url.Action(MVC.Accounts.Link((long)ViewBag.Id))";
        })
    });
</script>
}

@Html.Partial("AdminTabs", new { Section = "Accounts" }.ToExpando())

<form>
    <fieldset>
        <legend>Account</legend>
        <p>
            <label>Name:</label>
            <span>@Model.LastName, @Model.FirstName</span>
        </p>
        <p>
            <label>E-Mail Address:</label>
            <span>@Model.EmailAddress</span>
        </p>
        <p>
            <label>Sign In Count:</label>
            <span>@Model.LoginCount</span>
        </p>
        <p>
            <label>Last Sign In:</label>
            <span>@Html.ConvertAndDisplayDateTime(Model.LastLoginDateTime, TimeZoneCode.Eastern.ToTimeZoneInfo(), "Never Signed In")</span>
        </p>
    </fieldset>
    <fieldset>
        <legend>Registration Status</legend>
        <p>
            <label>Status:</label>
            <span>@Model.RegistrationStatus</span>
        </p>
        @if (Model.RegistrationStatus == FriendsOfDT.Models.Accounts.RegistrationStatus.NotVerified) {
        <p>
            <label>Name Provided:</label>
            <span>
                @Model.LastName, @Model.FirstName
                @if (!string.IsNullOrWhiteSpace(Model.RegistrationAltFirstName) || !string.IsNullOrWhiteSpace(Model.RegistrationAltLastName)) {
                @: (alt: @Model.LastName, @Model.FirstName)
                }
            </span>
        </p>
        <p>
            <label></label>
            <input type="button" id="verifyAccountButton" value="Verify Account" />
        </p>
        }
        @if (Model.RegistrationStatus == FriendsOfDT.Models.Accounts.RegistrationStatus.Verified) {
        <p>
            <label></label>
            <input type="button" id="disableAccountButton" value="Disable Account" />
        </p>
        }
        @if (Model.RegistrationStatus == FriendsOfDT.Models.Accounts.RegistrationStatus.Disabled) {
        <p>
            <label></label>
            <input type="button" id="enableAccountButton" value="Enable Account" />
        </p>
        }
    </fieldset>
    <fieldset>
        <legend>Directory Profile</legend>
        @if (string.IsNullOrWhiteSpace(Model.LinkedDirectoryProfileId)) {
        <p>
            <label>Link:</label>
            <span>Not Linked</span>            
        </p>
        <p>
            <label></label>
            <input type="button" id="linkAccountToDirectoryButton" value="Link Account" />
        </p>
        } else {
        <p>
            <label>Link:</label>
            <span>Linked</span>            
        </p>
        <p>
            <label></label>
            <input type="button" id="linkAccountToDirectoryButton" value="Re-Link Account" />
        </p>
        }
    </fieldset>
    <fieldset>
        <legend>Metadata</legend>
        <p>
            <label>Created:</label>
            <span>@Html.ConvertAndDisplayDateTime(metadata.Created, TimeZoneCode.Eastern.ToTimeZoneInfo(), "Unknown")</span>
        </p>
        <p>
            <label>Last Modified:</label>
            <span>@Html.DisplayDateTime(metadata.LastModified, TimeZoneCode.Eastern.ToTimeZoneInfo(), "Unknown")</span>
        </p>
        <p>
            <label>Last Modified By:</label>
            @if (ViewBag.ModifiedBy != null) {
                var modifiedby = (FriendsOfDT.Models.Accounts.WebAccount)ViewBag.ModifiedBy;
                <span>@Html.ActionLink(modifiedby.LastName + ", " + modifiedby.FirstName, MVC.Accounts.Manage((long)ViewBag.ModifiedById))</span>
            } else {
            <span>@metadata.LastModifiedBy</span>
            }
        </p>
        <p>
            <label>Last Modified Action:</label>
            <span>@metadata.LastModifiedAction</span>
        </p>
    </fieldset>
</form>