@model FODT.Views.People.DisplayViewModel   
@{
    ViewBag.Title = "Display";
}

<h1>@Model.Name</h1>

<h2>Biographical Data <small><a href="@Url.Action(MVC.People.EditBiography(Model.PersonId))">edit</a></small></h2>
<pre>
    @Model.Biography
</pre>

<h2>Positions Held</h2>
<ul>
@foreach (var clubPosition in Model.ClubPositions.OrderByDescending(x => x.Year).ThenBy(x => x.Name))
{
    <li>@clubPosition.Year - @clubPosition.Name</li>
}
</ul>

<h3>Awards</h3>
<ul>
@foreach (var award in Model.Awards.OrderByDescending(x => x.Year).ThenBy(x => x.Name))
{
    if(award.ShowId.HasValue)
    {
    <li>@award.Year - @award.Name - @Html.ActionLink(ExtensionMethods.RearrangeShowTitle(award.ShowName), MVC.Shows.Display(award.ShowId.Value)) (@award.ShowYear.Value)
    </li>
    } 
    else
    {
    <li>@award.Year - @award.Name</li>
    }
}
</ul>

<h3>Cast Positions</h3>
<ul>
@foreach (var castPosition in Model.CastRoles.OrderByDescending(x => x.ShowYear).ThenByDescending(x => x.ShowQuarter).ThenBy(x => x.Role))
{
    <li>@castPosition.ShowQuarter @castPosition.ShowYear - @Html.ActionLink(ExtensionMethods.RearrangeShowTitle(castPosition.ShowName), MVC.Shows.Display(castPosition.ShowId)) - @castPosition.Role</li>
}
</ul>

<h3>Crew Positions</h3>
<ul>
@foreach (var crewPosition in Model.CrewPositions.OrderByDescending(x => x.ShowYear).ThenByDescending(x => x.ShowQuarter).ThenBy(x => x.ShowName).ThenBy(x => x.Name))
{
    <li>@crewPosition.ShowQuarter @crewPosition.ShowYear - @Html.ActionLink(ExtensionMethods.RearrangeShowTitle(crewPosition.ShowName), MVC.Shows.Display(crewPosition.ShowId)) - @crewPosition.Name</li>
}
</ul>