@model FODT.Views.Home.AdminViewModel

<table rowsep="1" frame="1" align="center" width="50%">
    <tbody>
        <tr align="center" valign="middle">
            <td align="right">
                <b>Add a Person to the database</b>
            </td>
            <td>
                <a href="@Url.Action(MVC.Person.New())">Add New Person</a>
            </td>
        </tr>

        <tr align="center" valign="middle">
            <td align="right">
                <b>Add a Show to the database</b>
            </td>
            <td>
                <a href="#">Add New Show</a>
            </td>
        </tr>

        <tr align="center" valign="middle">
            <td align="right">
                <b>Add a Person to the EC</b>
            </td>
            <td>
                <a href="#">Add EC Member</a>
            </td>
        </tr>

        <tr align="center" valign="middle">
            <td align="right">
                <b>Add a New Award</b>
            </td>
            <td>
                <a href="#">Add New Award</a>
            </td>
        </tr>

        <tr align="center" valign="middle">
            <td align="right">
                <b>Add an Award Recipient</b>
            </td>
            <td>
                <a href="#">Add Award Recipient</a>
            </td>
        </tr>
    </tbody>
</table>

<table align="center" frame="1" width="50%">
    <tbody>
        <tr align="center" valign="middle">
            <td align="right">
                <b>Edit a Person</b>
            </td>
            <td>
                <form method="GET" action="@Url.Action(MVC.Home.Admin_EditPerson())">
                <select name="personId">
                    <option value=""></option>
                    @foreach (var item in Model.AllPeople.OrderBy(x => x.PersonLastName))
                    {
                        <option value="@item.PersonId">@item.PersonLastName, @item.PersonFirstName</option>
                    }
                </select>
                <input type="submit" value="Edit Person">
                </form>
            </td>
        </tr>


    </tbody>
</table>
