@* Generator: WebPagesHelper *@

@using FODT.Models
@using FODT.Views.Show

@helper RenderColumns(CastRoleViewModel item)
{
    <td>@item.ShowQuarter.ToString() @item.ShowYear</td>
    <td><a href="@item.ShowLinkURL">@item.ShowName</a></td>
    <td>@item.Role</td>
}