@model FODT.Views.Show.ListShowMediaViewModel

<center>
    <font size="+2">Media for <a href="@Url.Action(MVC.Show.Get(Model.ShowId))">@ExtensionMethods.RearrangeShowTitle(Model.ShowTitle) (@Model.ShowYear)</a></font>
    <br><br>
    <a href="?action=media_upload&amp;IDtype=shows&amp;ID=168">Upload more pictures for this show</a>
</center>
<br />
<br />

@if (Model.RelatedMedia.Any())
{
    var rowCount = Math.Ceiling((double)Model.RelatedMedia.Count / 3d);
    <table align="center" border="1">
        <tbody>
            @for (int i = 0; i < rowCount; i++)
            {
                <tr>
                    @foreach (var item in Model.RelatedMedia.Skip(i * 3).Take(3))
	                {
                        <td align="center" valign="middle">
                            <div class="rollover">
                                <a href="@Url.Action(MVC.Show.GetShowMedia(Model.ShowId, item.MediaItemId))">
                                <img src="@Url.Action(MVC.Media.GetItemThumbnail(item.MediaItemId))"></a>
                            </div>
                        </td>
	                }
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.RelatedMedia.Count == 0)
{
    <center><h1>No associated media found!<br> Would you like to <a href="?action=media_upload&amp;IDtype=shows&amp;ID=171">upload some</a>?</h1><br><br></center>
}